/**
 * Slightly reduced version copied from the Astro Galaxy 6.2.2 theme. To enforce
 * dark mode within the iframe, the root colors are hard-coded to dark-mode
 * equivalents.
 */
@import "tailwindcss";

@import "./tailwind-theme.css";

@import "./buttons.css";

@layer theme, base, components;

@layer base {
  :root {
    --background: var(--color-base-900);
    --foreground: var(--color-base-100);
    --card: oklch(1% 0 0);
    --card-foreground: var(--color-base-100);
    --popover: oklch(1% 0 0);
    --popover-foreground: var(--color-base-100);
    --primary: var(--color-primary-400);
    --primary-foreground: oklch(1% 0 0);
    --secondary: var(--color-fuchsia-300);
    --secondary-foreground: oklch(1% 0 0);
    --muted: var(--color-base-900);
    --muted-foreground: var(--color-base-400);
    --accent: var(--color-base-900);
    --accent-foreground: var(--color-base-100);
    --info: var(--color-sky-300);
    --info-foreground: var(--color-sky-950);
    --success: var(--color-green-300);
    --success-foreground: var(--color-green-950);
    --warning: var(--color-amber-300);
    --warning-foreground: var(--color-amber-950);
    --error: var(--color-red-800);
    --error-foreground: oklch(99% 0 0);
    --border: var(--color-base-800);
    --input: var(--color-base-800);
    --outline: var(--color-base-50);

    --radius: 0.5rem;

    --font-fallback:
      "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica",
      "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";

    font-family: "Kanit", var(--font-fallback);
    font-feature-settings:
      "liga" 1,
      "calt" 1; /* fix for Chrome */
  }

  * {
    @apply border-border;
  }
  *:focus-visible {
    @apply outline-outline !transition-none;
  }
  html {
    @apply bg-background text-foreground leading-[1.6rem];
    scroll-behavior: smooth;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .h1 {
    @apply text-3xl font-medium md:text-4xl;
  }

  .h2 {
    @apply text-3xl font-medium;
  }

  .h3 {
    @apply text-xl font-medium;
  }

  .description {
    @apply text-base-700 dark:text-base-300 md:text-lg;
  }

  .site-container {
    @apply mx-auto max-w-[1100px] px-4;
  }
}
